body {
    background-image: url('../css/waves.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

input[type="text"], input[type="password"], select, input[type="number"] {
    border: 1px solid darkgray;
    border-radius: 10px;
    height: 35px;
    padding: 5px;
}

button, .defaultBtn {
    text-decoration: none;
    color: black;
    background-color:  white;
    border: 1px solid lightgray;
    border-radius: 10px;
}
button:hover, .defaultBtn:hover {
    transition: 0.2s;
    border-color: lightgray;
    background-color: #5F57A1;
    color: white;
}

/* Rimuove tutti gli spinner dagli input type number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}