@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: lightgray;

    font-family: "Montserrat", sans-serif;
}

input[type="text"], input[type="password"], select, input[type="number"] {
    border: 1px solid darkgray;
    border-radius: 10px;
    height: 35px;
    padding: 5px;
}

button, .defaultBtn {
    text-decoration: none;
    color: black;
    background-color:  white;
    border: 1px solid lightgray;
    border-radius: 10px;
}
button:hover, .defaultBtn:hover {
    transition: 0.2s;
    border-color: lightgray;
    background-color: #5F57A1;
    color: white;
}

/* Rimuove tutti gli spinner dagli input type number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}